/* Default styles for all screens */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f5f5f5;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-image: url(https://img.freepik.com/free-vector/gradient-galaxy-background_23-2148983653.jpg?w=1060&t=st=1683175910~exp=1683176510~hmac=0e4bb5b3bf8b15fed75db903c0e4e967d5a7cb147f6b829e4f37af22383d2e4e);
    background-size: cover;
    background-position: center;
  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
    backdrop-filter: blur(5px);
    
  }
  
  .login-box h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
  }
  
  .input-group {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .input-group label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .input-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  button[type="submit"] {
    background: #03a9f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background: #0288d1;
  }
  
  
  /* Styles for screens smaller than 768px (mobile) */
  @media only screen and (max-width: 767px) {
    .login-box {
      padding: 20px;
    }
  
    .login-box h2 {
      font-size: 20px;
    }
  
    .input-group label {
      font-size: 12px;
    }
  
    .input-group input {
      padding: 8px;
    }
  
    button[type="submit"] {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  
  
  /* Styles for screens larger than 768px (desktop) */
  @media only screen and (min-width: 768px) {
    .login-box {
      width: 400px;
    }
  
    .input-group input {
      width: 100%;
      max-width: 300px;
    }
  }

